<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void();" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">binLab</a>
    </div>
    <div *ngIf="authorized" class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="javascript:void();"><span>Hi, {{logUser.fullName}}</span></a></li>
        <li><a href="javascript:void();" [routerLink]="['/users']" title="Users" alt="Users"><span class="glyphicon glyphicon-user"></span></a></li>
        <li><a href="javascript:void();" [routerLink]="['/doctors']" title="Doctors" alt="Doctors"><span class="glyphicon glyphicon-briefcase"></span></a></li>
        <li><a href="javascript:void();" [routerLink]="['/collectors']" title="Sample  Collectors" alt="Sample Collectors"><span class="glyphicon glyphicon-pushpin"></span></a></li>
        <li><a href="javascript:void();" [routerLink]="['/patients']" title="patients" alt="Patients"><span class="glyphicon glyphicon-phone"></span></a></li>

        <li><a href="javascript:void();" [routerLink]="['/categories']" title="Test Categories" alt="Test Categories"><span class="glyphicon glyphicon-tower"></span></a></li>
        <li><a href="javascript:void();" [routerLink]="['/products']" title="Test Products" alt="Test Products"><span class="glyphicon glyphicon-duplicate"></span></a></li>
        <li><a href="javascript:void();" [routerLink]="['/items']" title="Test Items" alt="Test Items"><span class="glyphicon glyphicon-list-alt"></span></a></li>
        <li><a href="javascript:void();" [routerLink]="['/orders']" title="Test Orders" alt="Test Orders"><span class="glyphicon glyphicon-inbox"></span></a></li>

        <li><a href="javascript:void();" [routerLink]="['/reports']" title="Reports" alt="Reports"><span class="glyphicon glyphicon-stats"></span></a></li>
        <li><a href="javascript:void();" (click)="logout()" title="Logout" alt="Logout"><span class="glyphicon glyphicon-log-in"></span></a></li>
      </ul>
    </div>

  </div>
</nav>