<div class="container-fluid bg-3">
  	<div class="row">
	    <div class="col-md-4 col-md-offset-4 jumbotron">
		  	<div class="container">
		    	<div class="content-header">
		      		<h4>Product</h4>
		    		<form #patForm="ngForm" name="patForm" novalidate (ngSubmit)="patForm.form.valid && doSubmit()">  		
		      			<div *ngIf="authService.isAuthorised()" class="collapse navbar-collapse" id="myNavbar">
		        			<ul class="nav navbar-nav navbar-right">
		          				<li>
		            				<div class="btn-toolbar" role="toolbar"> 
		              					<div class="btn-group"> 
		                					<button type="submit" class="btn btn-default" title="Submit" alt="Submit"> 
		                  						<span class="glyphicon glyphicon-ok"></span> 
		                					</button>
		                					<button *ngIf="editMode" type="button" class="btn btn-default" title="Delete" alt="Delete" (click)="doDelete()"> 
		                  						<span class="glyphicon glyphicon-trash"></span> 
		                					</button>
		                					<button type="button" class="btn btn-default" title="Cancel" alt="Cancel" (click)="doCancel()"> 
		                  						<span class="glyphicon glyphicon-remove"></span> 
		                					</button>
		              					</div> 
		            				</div> 
		          				</li>
		        			</ul>
		      			</div>
		    		  	<hr/>
		    	    	<div class="form-group">
				        	<label>Name*</label>
				          	<input type="text" name="name" #name="ngModel" [(ngModel)]="product.name" class="form-control"
				            required>
				          	<span *ngIf="name.invalid && name.touched || (name.invalid && patForm.submitted)" style="color:red">Name is required</span>
				        </div>
				        <div class="form-group">
				        	<label>Description</label>
				          	<input type="text" name="description" #last_name="ngModel" [(ngModel)]="product.description" class="form-control">
				        </div>
				        <div class="form-group">
		          			<label>Category*</label>
		          			<select type="text" name="category_id" #category_id="ngModel" [(ngModel)]="product.category_id" class="form-control" required>
		            			<option value="">Select One</option>
		            			<option *ngFor="let cat of pCat" [value]="cat.id">{{cat.name}}</option>
		          			</select>
		          			<span *ngIf="category_id.invalid && category_id.touched || (category_id.invalid && patForm.submitted)" style="color:red">Select category</span>
		          			<div *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</div>
		        		</div>
				        <div class="form-group">
				          	<label>Status*</label>
				          	<select type="text" name="status" #status="ngModel" [(ngModel)]="product.status" class="form-control" required>
				            	<option value="">Select One</option>
				            	<option value="ACTIVE">ACTIVE</option>
				            	<option value="DELETED">DELETED</option>
				          	</select>
				          	<span *ngIf="status.invalid && status.touched || (status.invalid && patForm.submitted)" style="color:red">Select
				            Status</span>
				          	<div *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</div>
				        </div>
				        <!--<input type="submit" value="Login" class="btn btn-success">-->
		    			<hr/>
		    			<div *ngIf="authService.isAuthorised()" class="collapse navbar-collapse" id="myNavbar">
		        			<ul class="nav navbar-nav navbar-right">
		          				<li>
		            				<div class="btn-toolbar" role="toolbar"> 
		              					<div class="btn-group"> 
		                					<button type="submit" class="btn btn-default" title="Submit" alt="Submit"> 
		                  						<span class="glyphicon glyphicon-ok"></span> 
		                					</button>
		                					<button *ngIf="editMode" type="button" class="btn btn-default" title="Delete" alt="Delete" (click)="doDelete()"> 
		                  						<span class="glyphicon glyphicon-trash"></span> 
		                					</button>
		                					<button type="button" class="btn btn-default" title="Cancel" alt="Cancel" (click)="doCancel()"> 
		                  						<span class="glyphicon glyphicon-remove"></span> 
		                					</button>
		              					</div>
		            				</div> 
		          				</li>
		        			</ul>
		      			</div>
		      		</form>
		  		</div>
			</div>
		</div>
	</div>
</div>