<div class="container-fluid bg-3">
  	<div class="row">
	    <div class="jumbotron">
		  	<div class="container">
		    	<div class="content-header">
		      		<h4>Final Observation</h4>
		    		<form #orsForm="ngForm" name="orsForm" novalidate (ngSubmit)="orsForm.form.valid && doSubmit()">  		
		      			<div class="collapse navbar-collapse" id="myNavbar">
		        			<ul class="nav navbar-nav navbar-right">
		          				<li>
		            				<div class="btn-toolbar" role="toolbar"> 
		              					<div class="btn-group">
		                					<button type="submit" class="btn btn-default" title="Submit" alt="Submit"> 
		                  						<span class="glyphicon glyphicon-ok"></span> 
		                					</button>
		                					<!--<button *ngIf="editMode" type="button" class="btn btn-default" title="Delete" alt="Delete" (click)="doDelete()"> 
		                  						<span class="glyphicon glyphicon-trash"></span> 
		                					</button>-->
		                					<button type="button" class="btn btn-default" title="Cancel" alt="Cancel" (click)="doCancel()"> 
		                  						<span class="glyphicon glyphicon-remove"></span> 
		                					</button>
		              					</div> 
		            				</div> 
		          				</li>
		        			</ul>
		      			</div>
		    		  	<hr/>
		    		  	<div *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</div>
		    		  	<div class="row">
		    		  		<div class="col-sm-4 col-md-4">
		    		  			<label>Barcode: {{ orderProcessingInfo.barcode }}</label>
				        	</div>
				        	<div class="col-sm-4 col-md-4">
				        		Order Id: {{ orderProcessingInfo.order_id }}
				        	</div>
				        	<div class="col-sm-4 col-md-4" style="text-align: right;">
				        		Date: {{ orderProcessingInfo.order_date }}
		    		  		</div>
		    		  	</div>
		    		  	<div class="row">
		    		  		<div class="col-sm-4 col-md-4">
		    		  			Patient: {{ orderProcessingInfo.patient }}
		    		  		</div>
		    		  		<div class="col-sm-4 col-md-4">
		    		  			Referred By: {{ orderProcessingInfo.doctor }}
		    		  		</div>
		    		  		<div class="col-sm-4 col-md-4" style="text-align: right;">
								Sample collector: {{ orderProcessingInfo.collector }}
		    		  		</div>
		    		  	</div>
						<div class="row">
		    	    		<div class="col-sm-12 col-md-12">
		    	    			<div>Products Ordered</div>
	    	    				<table class="table">
	    	    					<tbody>
	    	    						<tr *ngFor="let order_prod of orderProcessingInfo.products; let i = index" >
	    	    							<td>
	    	    								<table class="table">
				    	    						<tr>
				    	    							<td><label>{{ order_prod.name }}</label></td>
				    	    						</tr>
				    	    						<tr>
				    	    							<td>
				    	    								<table class="table">
				    	    									<thead>
				    	    										<tr>
				    	    											<th>Item Name</th>
				    	    											<th>Ideal Value</th>
				    	    											<th width="20%">Current Value</th>
				    	    										</tr>
				    	    									</thead>
								    	    					<tbody>
								    	    						<tr *ngFor="let order_item of order_prod.order_items; let i = index" >
								    	    							<td>{{ order_item.name }}</td>
								    	    							<td>{{ order_item.minval }} - {{ order_item.maxval }} {{order_item.unit}}</td>
								    	    							<td>
								    	    								{{ order_item.currentval }}
			        													</td>
								    	    						</tr>
								    	    					</tbody>
								    	    				</table>
				    	    							</td>
				    	    						</tr>
	    	    								</table>
	    	    							</td>
	    	    						</tr>
	    	    					</tbody>
	    	    				</table>
		    	    		</div>
		    	    	</div>
		    	    	<div class="row">
		    	    		<div class="col-sm-8 col-md-8">
		    	    			<div class="form-group">
		    	    				<label>Final Observation*</label>
		    	    				<input type="text" name="observation" #observation="ngModel" [(ngModel)]="orderProcessingInfo.observation" class="form-control">
		    	    				<span *ngIf="observation.invalid && observation.touched || (observation.invalid && orsForm.submitted)" style="color:red">Observation should not be blank</span>
						          	<div *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</div>
		    	    			</div>
		    	    		</div>
		    	    		<div class="col-sm-4 col-md-4">
		    	    			<div class="form-group">
		    	    				<label>Status*</label>
						          	<select type="text" name="status" #status="ngModel" [(ngModel)]="orderProcessingInfo.status" class="form-control" required>
						            	<option value="">Select One</option>
						            	<option value="PROCESSED">PROCESSED</option>
						            	<option value="SIGNED">SIGNED</option>
						          	</select>
						        </div>
		    	    		</div>
		    	    	</div>
				        <hr/>
				        <div class="collapse navbar-collapse" id="myNavbar">
		        			<ul class="nav navbar-nav navbar-right">
		          				<li>
		            				<div class="btn-toolbar" role="toolbar"> 
		              					<div class="btn-group"> 
		                					<button type="submit" class="btn btn-default" title="Submit" alt="Submit"> 
		                  						<span class="glyphicon glyphicon-ok"></span> 
		                					</button>
		                					<!--<button *ngIf="editMode" type="button" class="btn btn-default" title="Delete" alt="Delete" (click)="doDelete()"> 
		                  						<span class="glyphicon glyphicon-trash"></span> 
		                					</button>-->
		                					<button type="button" class="btn btn-default" title="Cancel" alt="Cancel" (click)="doCancel()"> 
		                  						<span class="glyphicon glyphicon-remove"></span> 
		                					</button>
		              					</div>
		            				</div> 
		          				</li>
		        			</ul>
		      			</div>
		      		</form>
		  		</div>
			</div>
		</div>
	</div>
</div>