<div class="container-fluid bg-3">
  	<div class="row">
	    <div class="col-md-4 col-md-offset-4 jumbotron">
		  <div class="container">
		    <div class="content-header">
		      <h4>User</h4>
		      <div *ngIf="authService.isAuthorised()" class="collapse navbar-collapse" id="myNavbar">
		        <ul class="nav navbar-nav navbar-right">
		          <li>
		            <div class="btn-toolbar" role="toolbar"> 
		              <div class="btn-group"> 
		                <button type="submit" class="btn btn-default" title="Submit" alt="Submit" (click)="doSubmit()"> 
		                  <span class="glyphicon glyphicon-ok"></span> 
		                </button>
		                <button *ngIf="editMode" type="button" class="btn btn-default" title="Delete" alt="Delete" (click)="doDelete()"> 
		                  <span class="glyphicon glyphicon-trash"></span> 
		                </button>
		                <button type="button" class="btn btn-default" title="Cancel" alt="Cancel" (click)="doCancel()"> 
		                  <span class="glyphicon glyphicon-remove"></span> 
		                </button>
		              </div> 
		            </div> 
		          </li>
		        </ul>
		      </div>
		    </div>
		    <hr/>
		    <form #userForm="ngForm" name="userForm" novalidate (ngSubmit)="userForm.form.valid && doSubmit()">
		    	<div class="form-group">
		        	<label>Title*</label>
		          	<select type="text" name="title" #title="ngModel" [(ngModel)]="user.title" class="form-control" required>
		            	<option value="">Select One</option>
		            	<option value="Mr.">Mr.</option>
		            	<option value="Miss">Miss</option>
		            	<option value="Mrs.">Mrs.</option>
		            	<option value="Dr.">Dr.</option>
		            	<option value="Prof.">Prof.</option>
		          	</select>
		          	<span *ngIf="title.invalid && title.touched || (title.invalid && userForm.submitted)" style="color:red">Title is required</span>
		        </div>
		        <div class="form-group">
		        	<label>First Name*</label>
		          	<input type="text" name="first_name" #first_name="ngModel" [(ngModel)]="user.first_name" class="form-control"
		            required>
		          	<span *ngIf="first_name.invalid && first_name.touched || (first_name.invalid && userForm.submitted)" style="color:red">First name is required</span>
		        </div>
		        <div class="form-group">
		        	<label>Last Name*</label>
		          	<input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="user.last_name" class="form-control"
		            required>
		          	<span *ngIf="last_name.invalid && last_name.touched || (last_name.invalid && userForm.submitted)" style="color:red">Last name is required</span>
		        </div>
		        <div class="form-group">
		        	<label>Email Address*</label>
		          	<input type="text" name="email_id" #email_id="ngModel" [(ngModel)]="user.email_id" class="form-control"
		            required>
		          	<span *ngIf="email_id.invalid && email_id.touched || (email_id.invalid && userForm.submitted)" style="color:red">Email address is required</span>
		        </div>
		        <!--<div class="form-group">
		          	<label>Password*</label>
		          	<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
		            required>
		          	<span *ngIf="(password.invalid && password.touched) || (password.invalid && userForm.submitted)" style="color:red">Password
		            is required</span>
		        </div>-->
		        <div class="form-group">
		          	<label>Status*</label>
		          	<select type="text" name="status" #status="ngModel" [(ngModel)]="user.status" class="form-control" required>
		            	<option value="">Select One</option>
		            	<option value="ACTIVE">ACTIVE</option>
		            	<option value="DELETED">DELETED</option>
		          	</select>
		          	<span *ngIf="status.invalid && status.touched || (status.invalid && userForm.submitted)" style="color:red">Select
		            Status</span>
		          	<div *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</div>
		        </div>
		        <div class="form-group">
          			<label>Role*</label>
          			<select type="text" name="role" #role="ngModel" [(ngModel)]="user.role" class="form-control" required>
            			<option value="">Select One</option>
            			<option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
          			</select>
          			<span *ngIf="role.invalid && role.touched || (role.invalid && userForm.submitted)" style="color:red">Select Role</span>
          			<div *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</div>
        		</div>
		        <!--<input type="submit" value="Login" class="btn btn-success">-->
		    </form>
		    <hr/>
		    <div *ngIf="authService.isAuthorised()" class="collapse navbar-collapse" id="myNavbar">
		        <ul class="nav navbar-nav navbar-right">
		          <li>
		            <div class="btn-toolbar" role="toolbar"> 
		              <div class="btn-group"> 
		                <button type="submit" class="btn btn-default" title="Submit" alt="Submit" (click)="doSubmit()"> 
		                  <span class="glyphicon glyphicon-ok"></span> 
		                </button>
		                <button *ngIf="editMode" type="button" class="btn btn-default" title="Delete" alt="Delete" (click)="doDelete()"> 
		                  <span class="glyphicon glyphicon-trash"></span> 
		                </button>
		                <button type="button" class="btn btn-default" title="Cancel" alt="Cancel" (click)="doCancel()"> 
		                  <span class="glyphicon glyphicon-remove"></span> 
		                </button>
		              </div>
		            </div> 
		          </li>
		        </ul>
		      </div>
		  </div>
		</div>
	</div>
</div>