<div class="jumbotron">
  <div class="container">
    <div class="content-header">
      <h4>Patients</h4>
      <div *ngIf="authService.isAuthorised()" class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="btn-toolbar" role="toolbar"> 
              <div class="btn-group"> 
                <button type="button" class="btn btn-default" title="new Patient" alt="New Patient" (click)="onNewPatient()"> 
                  <span class="glyphicon glyphicon-plus"></span> 
                </button>
              </div> 
            </div> 
          </li>
        </ul>
      </div>
    </div>
    <hr/>
    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
  		<thead>
    		<tr>
      			<th>Email Address</th>
      			<th>Full Name</th>
      			<th>Address</th>
      			<th>Contact No.</th>
      			<th>Updated  On</th>
            <th>Controls</th>
    		</tr>
  		</thead>
  		<tbody>
   			<tr *ngFor="let pat of data">
         		<td>{{pat.email_id}}</td>
         		<td>{{pat.fullname}}</td>
         		<td>{{pat.address}}</td>
         		<td>{{pat.mobile}}</td>
         		<td>{{pat.updated}}</td>
            <td>
              <button type="button" class="btn btn-default" title="Edit Doctor Info" alt="Edit Doctor Info" (click)="onEditRecord(pat.id)">
                <span class="glyphicon glyphicon-edit"></span> 
              </button>
              <button type="button" class="btn btn-default" title="Delete Doctor Info" alt="Delete Doctor Info" (click)="onDeleteRecord(pat.id)"> 
                <span class="glyphicon glyphicon-trash"></span> 
              </button>
            </td>
     		</tr>
  		</tbody>
	</table>
  </div>
</div>