<div class="container-fluid bg-3">
  	<div class="row">
	    <div class="col-md-4 col-md-offset-4 jumbotron">
		  	<div class="container">
		    	<div class="content-header">
		      		<h4>Items</h4>
		    		<form #itmForm="ngForm" name="itmForm" novalidate (ngSubmit)="itmForm.form.valid && doSubmit()">  		
		      			<div class="collapse navbar-collapse" id="myNavbar">
		        			<ul class="nav navbar-nav navbar-right">
		          				<li>
		            				<div class="btn-toolbar" role="toolbar"> 
		              					<div class="btn-group"> 
		                					<button type="submit" class="btn btn-default" title="Submit" alt="Submit"> 
		                  						<span class="glyphicon glyphicon-ok"></span> 
		                					</button>
		                					<button *ngIf="editMode" type="button" class="btn btn-default" title="Delete" alt="Delete" (click)="doDelete()"> 
		                  						<span class="glyphicon glyphicon-trash"></span> 
		                					</button>
		                					<button type="button" class="btn btn-default" title="Cancel" alt="Cancel" (click)="doCancel()"> 
		                  						<span class="glyphicon glyphicon-remove"></span> 
		                					</button>
		              					</div> 
		            				</div> 
		          				</li>
		        			</ul>
		      			</div>
		    		  	<hr/>
		    		  	<div *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</div>
		    		  	<div class="form-group">
		          			<label>Product*</label>
		          			<select type="text" name="product_id" #product_id="ngModel" [(ngModel)]="item.product_id" class="form-control" required>
		            			<option value="">Select One</option>
		            			<option *ngFor="let prd of Prds" [value]="prd.id">{{prd.name}}</option>
		          			</select>
		          			<span *ngIf="product_id.invalid && product_id.touched || (product_id.invalid && itmForm.submitted)" style="color:red">Select a product</span>
		        		</div>
		    	    	<div class="form-group">
				        	<label>Name*</label>
				          	<input type="text" name="name" #name="ngModel" [(ngModel)]="item.name" class="form-control"
				            required>
				          	<span *ngIf="name.invalid && name.touched || (name.invalid && itmForm.submitted)" style="color:red">Name is required</span>
				        </div>
				        <div class="form-group">
				        	<label>Description</label>
				          	<input type="text" name="description" #last_name="ngModel" [(ngModel)]="item.description" class="form-control">
				        </div>
				        <div class="form-group">
				        	<label>Unit*</label>
				          	<input type="text" name="unit" #unit="ngModel" [(ngModel)]="item.unit" class="form-control"
				            required>
				          	<span *ngIf="unit.invalid && unit.touched || (unit.invalid && itmForm.submitted)" style="color:red">Unit is required</span>
				        </div>
				        <div class="form-group">
				        	<label>Minimum Value*</label>
				          	<input type="text" name="minval" #minval="ngModel" [(ngModel)]="item.minval" class="form-control"
				            required>
				          	<span *ngIf="minval.invalid && minval.touched || (minval.invalid && itmForm.submitted)" style="color:red">minimum value is required</span>
				        </div><div class="form-group">
				        	<label>Maximum Value*</label>
				          	<input type="text" name="maxval" #maxval="ngModel" [(ngModel)]="item.maxval" class="form-control"
				            required>
				          	<span *ngIf="maxval.invalid && maxval.touched || (maxval.invalid && itmForm.submitted)" style="color:red">Maximum value is required</span>
				        </div>
				        <div class="form-group">
				          	<label>Status*</label>
				          	<select type="text" name="status" #status="ngModel" [(ngModel)]="item.status" class="form-control" required>
				            	<option value="">Select One</option>
				            	<option value="ACTIVE">ACTIVE</option>
				            	<option value="DELETED">DELETED</option>
				          	</select>
				          	<span *ngIf="status.invalid && status.touched || (status.invalid && itmForm.submitted)" style="color:red">Select
				            Status</span>
				          	<div *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</div>
				        </div>
				        <!--<input type="submit" value="Login" class="btn btn-success">-->
		    			<hr/>
		    			<div class="collapse navbar-collapse" id="myNavbar">
		        			<ul class="nav navbar-nav navbar-right">
		          				<li>
		            				<div class="btn-toolbar" role="toolbar"> 
		              					<div class="btn-group"> 
		                					<button type="submit" class="btn btn-default" title="Submit" alt="Submit"> 
		                  						<span class="glyphicon glyphicon-ok"></span> 
		                					</button>
		                					<button *ngIf="editMode" type="button" class="btn btn-default" title="Delete" alt="Delete" (click)="doDelete()"> 
		                  						<span class="glyphicon glyphicon-trash"></span> 
		                					</button>
		                					<button type="button" class="btn btn-default" title="Cancel" alt="Cancel" (click)="doCancel()"> 
		                  						<span class="glyphicon glyphicon-remove"></span> 
		                					</button>
		              					</div>
		            				</div> 
		          				</li>
		        			</ul>
		      			</div>
		      		</form>
		  		</div>
			</div>
		</div>
	</div>
</div>