/* You can add global styles to this file, and also import other style files */
.container{
	width: 100% !important;
	margin-bottom: 20px !important;
}

.jumbotron {
	 padding: 10px !important;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jumbotron .container{
	width: 100% !important;
}

.content-header h4 { float: left !important; margin-top: 2px !important; }

hr {
	border: 1px solid #666 !important;
}

td .btn {
	margin-right: 20px;
	text-align: center;
	padding: 5px 8px !important;
    font-size: 12px !important;
}

div.card {
	margin: 10px 0;
    border: 1px solid #CCC;
    border-radius: 6px;
    padding: 10px;
    background: #f8f8f8;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

signature-pad > canvas{
	width: 100% !important;
	height: 150px !important;
	border: 1px solid #ccc !important;
	border-radius: 6px !important;
	background: #fff;
}