<div class="container-fluid bg-3">
  	<div class="row">
	    <div class="jumbotron">
		  	<h4>Barcode Generator</h4>
		  	<hr/>
		    <div class="container">
	    		<div class="row">
	    			<form #barForm="ngForm" name="barForm" novalidate (ngSubmit)="barForm.form.valid && doSubmit()"> 
		        		<div class="form-group">
				        	<label>No of Barcodes*</label>
				          	<input type="number" name="cnt" #cnt="ngModel" [(ngModel)]="bar.cnt" class="form-control"  required>
			          		<span *ngIf="cnt.invalid && cnt.touched || (cnt.invalid && barForm.submitted)" style="color:red">Count is required</span>
			        	</div>
			        	<input type="submit" value="Generate" class="btn btn-success">
			        </form>
				</div>
				<hr/>
				<h4>Barcodes</h4>
		  		<div class="row">
				    <div *ngFor="let barDta of codes" class="col-sm-3 col-md-3">
				    	<ngx-barcode [bc-value]="barDta" [bc-element-type]="barSettings.elementType" [bc-format]="barSettings.format" [bc-line-color]="barSettings.lineColor"
		 [bc-width]="barSettings.width" [bc-height]="barSettings.height" [bc-display-value]="barSettings.displayValue" [bc-font-options]="barSettings.fontOptions" [bc-font]="barSettings.font" [bc-text-align]="barSettings.textAlign" [bc-text-position]="barSettings.textPosition" [bc-text-margin]="barSettings.textMargin" [bc-font-size]="barSettings.fontSize" [bc-background]="barSettings.background" [bc-margin]="barSettings.margin" [bc-margin-top]="barSettings.marginTop" [bc-margin-bottom]="barSettings.marginBottom" [bc-margin-left]="barSettings.marginLeft" [bc-margin-right]="barSettings.marginRight"></ngx-barcode>
				</div>
			</div>
		</div>
	</div>
</div>	        
